[user]
  name = Rafael Sousa
  email = rafael.alves.sousa@outlook.com
[core]
  editor = mvim
  excludesfile = /Users/RafaelSousa/.gitignore
[color]
  diff = auto
  interactive = auto
  status = auto
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[filter "lfs"]
        clean = git-lfs clean %f
        smudge = git-lfs smudge %f
        required = true  
[alias]
  log = log --decorate
  st = status -sb
  wat = whatchanged -p --abbrev-commit --pretty=medium
  graph = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
